HOST=0.0.0.0
PORT=1337
APP_KEYS=replace-1,replace-2,replace-3,replace-4
API_TOKEN_SALT=replace
ADMIN_JWT_SECRET=replace
TRANSFER_TOKEN_SALT=replace
JWT_SECRET=replace
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
